In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player Count
#Display the total number of players

player=purchase_data["SN"].value_counts()
total_player=len(player)

In [4]:
player_gender = purchase_data.drop_duplicates(subset='SN') 
player_gender

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [5]:
gender_demo_df = pd.DataFrame(player_gender['Gender'].value_counts())
gender_demo_df = gender_demo_df.rename(columns={'Gender': 'Total Count'})

In [6]:
gender_demo_df

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11

In [7]:
gender_demo_df['Percentage of Players'] = (gender_demo_df['Total Count'] / total_player) * 100
gender_demo_df['Percentage of Players'] = gender_demo_df['Percentage of Players'].map("{:.2f}%".format)

In [8]:
gender_demo_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [9]:
#Purchasing Analysis (Gender)
purchasing_analysis = purchase_data.groupby(['Gender'])  
purchasing_analysis

In [10]:
purchasing_analysis['Gender'].value_counts()

Gender                 Gender
Female                 Female                   113
Male                   Male                     652
Other / Non-Disclosed  Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                [np.nan, np.nan, np.nan]],
                columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [17]:
df.agg(['sum', 'min','mean'])

         A     B     C
sum   12.0  15.0  18.0
min    1.0   2.0   3.0
mean   4.0   5.0   6.0

In [14]:
df.agg({'A' : ['sum', 'min','max'], 'B' : ['sum', 'min','max']})

        A     B
sum  12.0  15.0
min   1.0   2.0
max   7.0   8.0

In [15]:
df.agg(x=('A', max), y=('B', 'min'), z=('C', np.mean))

     A    B    C
x  7.0  NaN  NaN
y  NaN  2.0  NaN
z  NaN  NaN  6.0

In [16]:
df.agg("mean", axis="columns")

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64